body {
  background-color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff; /* or any color you prefer */
  z-index: 9999; /* this ensures the loader is on top of everything else */
  
}
.hero {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  padding-top: 4%;
  padding-bottom: 3%;
  opacity: 1;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/graduation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.hero h1,
h3 {
  position: relative;
  text-align: center;
}
.hero h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 70px;
  font-family: "Times New Roman", Times, serif;
  align-self: flex-end;
}
.hero h3 {
  color: rgb(235, 235, 235);
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.logo {
  position: relative;
  width: 12vh;
  height: 12vh;
  margin: 5px;
  margin-left: 9rem;
  border-radius: 42px;
  top: -3px;
}
nav {
  display: flex;
  align-items: start;
  justify-content: space-evenly;

  z-index: 10;
  top: 0px;
  width: 100%;
  height: 11vh;
  margin-right: 2rem;
}
.hamburger {
  display: none;
  position: absolute;
  top: -1px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  z-index: 10;
  top: 0px;
  width: 100%;
  height: 11vh;

  margin-right: 2rem;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 35px;
  position: relative;
}
.nav-links ul li a {
  color: rgba(255, 255, 255, 0.385);
  text-decoration: none;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(255, 160, 122);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
@media (max-width: 890px) {
  .hideNavLink {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .logo {
    width: 14vh;
    height: 14vh;
    border-radius: 50px;
    top: 2rem;
  }
  .hamburger {
    display: block;
    margin-top: 1rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  .container{
    width: auto;
  }
  .main{
   
    flex-direction: column;
    /* margin: 2rem; */
  }
  
}
.sidebar {
  position: fixed;
  backdrop-filter: blur(4px);
  background-color: #d2865d;
  padding-top: 2.9rem;
  top: 0px;
  right: -250px; /* initially position the sidebar off the screen */
  bottom: 0px;
  width: 250px;
  z-index: 8888;
  transition: right 0.5s ease-in-out;
  box-shadow: 2px 3px 5px #a0a0a0;
  display: flex; /* always keep the sidebar as a flex container */
}
.nav-links-mobile ul {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-links-mobile a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: rgb(80, 74, 74);
  padding: 10px;
  width: auto;
  transition: color 0.5s;
}
.nav-links-mobile li {
  font-size: 22px;
  margin: 15px;
  width: 100%;
  text-align: left;
}
h3 {
  position: relative;
  text-align: center;
  color: #31363f;
  font-size: 1.5rem;
}

.nav-links-mobile li :hover {
  
  color: rgb(180, 173, 173);
}
.container {
  
  margin-top: 4.4rem;
  height: 80%;
  
  padding: 1.5rem;
  border: 2px solid lightgray;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bource .link a {
  margin-right: 1rem;
}
a .material-symbols-outlined{
  margin-left: 2rem; 
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1.7rem;
}
a .material-symbols-outlined:hover{
  transform: translateX(7px);
  
}
ul{
  list-style: none;
  
}
.container ul li{
  display: flex;
  gap: 10px;
  margin: 7px;

}
.liste-bource ul{

  display: flex;
  flex-direction: column;
   width: 80%;
   gap: 10px;
}
main .liste-bource h2{
  margin: 2rem;
  font-size: 1.8rem;
  
}
.bource .link{
  display: flex;
}
.bource{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: #31363f;
  background-color: white;
  font-weight: bold;
  align-items: center;

}
main{
  display: flex;
  /* gap:6rem; */
}
ul{
  list-style: none;
  
}
ul li{
  display: flex;
  gap: 10px;
  margin: 7px;

}
footer .footer-bottom .bar {
  height: 2px;
  width: auto;

  color: lightgray;
}
/* footer {
  margin: 1rem;
} */
/* footer {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
} */

.body-content {
  width: 100%;
  padding: 20px;
  text-align: justify;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 40px;
}

.new-footer .footer {
  width:100vw;
 
  background: #00121b;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.new-footer h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.footer-items p {
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}

.new-footer h2 {
  margin: 10px 0;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.border {
  height: 2px;
  width: 40px;
  background: #d2865d;
}

.new-footer ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.new-footer ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: transform 0.3s;
  transition-delay: 0.5s; /* adjust this value as needed */
}

.new-footer ul a:hover {
  color: #d2865d;
  transform: scale(1.1);
  transition-delay: 0s;
}

.new-footer ul li {
  margin: 10px 0;
  height: 25px;
}

.new-footer li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 15px;
  width: 15px;
  margin: 20px 5px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  transition: 0.3s;
}

.social-media i:hover {
  background: grey;
}

.footer-bottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 1085px) {
  .footer-items {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .footer-items {
    width: 100%;
  }
}