form{
    display: grid;
    padding: 30px;
    
    gap: 10px 0px;
    color: whitesmoke;
    
    
  }
  form label{
    margin-right: -100px;
  }
  .registration-form{
    
    background-color: rgba(0, 0, 0, 0.788);
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    color: whitesmoke;
    
    
  }
  .formImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  /* div .formImg{
    height: 70%;
  } */
  select,input{
    width: 50%;
    border-radius: 3px;
    border: 1px solid rgb(76, 76, 76);
     min-width: 100px; 
     padding: 4px;
     background-color: whitesmoke;
     font-size: medium;
   
  } 
  .checkbox{
    width: 5px;
    margin: -5px -5px;
  }
  .checkmark{
    margin-top: 10px;
    margin-left: -20px;
  }


 
    